CompileFlags:
  Add: 
    - "-I/usr/src/linux-headers-6.8.0-90-generic/include"
    - "-I/usr/src/linux-headers-6.8.0-90-generic/arch/x86/include"
    - "-I/home/ahmet/rt_sample_port"
    - "-D__KERNEL__"
    - "-DMODULE"
  Remove:
    - "-fconserve-stack"
    - "-mno-80387"
    - "-mno-fp-ret-in-387"
    - "-mindirect-branch=*"
    - "-mindirect-branch-register"
    - "-mindirect-branch-cs-prefix"
    - "-mfunction-return=*"
    - "-mharden-sls=*"
    - "-fpatchable-function-entry=*"
    - "-mrecord-mcount"
    - "-mfentry"
    - "-fno-allow-store-data-races"
    - "-Wno-alloc-size-larger-than"
    - "-Wimplicit-fallthrough=*"
    - "-falign-jumps=*"
    - "-falign-loops=*"
    - "-mskip-rax-setup"
    - "-mno-sse"
    - "-mno-mmx" 
    - "-mno-sse2"
    - "-mno-3dnow"
    - "-mno-avx"
    - "-mno-red-zone"
    - "-mcmodel=kernel"
    - "-fno-stack-clash-protection"
    - "-fzero-call-used-regs=*"
    - "-ftrivial-auto-var-init=*"
    - "-fstrict-flex-arrays=*"
    - "-fsanitize=*"
    - "-pg"
    - "-mpreferred-stack-boundary=*"
    - "-DCC_USING_FENTRY"
    - "-Wp,-MMD,*"
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes